extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Enter yout email address for noyification
  div
    form(action='/notifyme',method='post')
      input(id='email',type='email',value='',placeholder='Your Email Address',name='email', required) 
      input(type='submit',value='Notify Me',data-transition='fade', data-theme='c')
